* {
  margin: 0px;
  padding: 0px;
}

input {
  border: 1px solid grey;
  border-radius: 5px; 
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input:focus{
  border-color: 1px solid dodgerblue;
}
