
#home-container {
  display: flex;
  height: calc(100vh - 50px);
  background: $color-background;
}

#post-container {
  background-color: $color-primary-2;
  width: 100%; 
  display: flex;
}

#interview-container {
  background-color: $color-primary-2;
  display: flex;
}

