
#home-container {
  display: flex;
  height: calc(100vh - 50px);
  background: $color-background;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.post-container {
  background-color: white;
  width: 100%; 
  display: flex;
  box-shadow: 5px 5px 10px;
  margin: 20px;
  width: 85%;
}

#interview-container {
  background-color: $color-background;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  height: 100%; 
  width: 100vw;
  overflow: scroll; 
}

