$color-primary-0: #3397EB;	// Main Primary color */
$color-primary-1: #86C2F3;
$color-primary-2: #59ABEF;
$color-primary-3: #0E83E4;
$color-primary-4: #066ABD;

$color-complement-0: #FFA529;	// Main Complement color */
$color-complement-1: #FFCB84;
$color-complement-2: #FFB754;
$color-complement-3: #FF9400;
$color-complement-4: #FF9400;